<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = http://phonegap.com/ns/1.0
        xmlns:android   = "http://schemas.android.com/apk/res/android"
        id          = "com.phonegap.coenraetsEx"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>PhoneGap Example by Coenraets</name>

    <description>
        An example database app. 
    </description>

   <gap:platform name="ios" />
   <gap:platform name="android" />

    <author href="https://build.phonegap.com" email="paul.mullins@sru.edu">
        Paul Mullins 
    </author>

</widget>
